Assets/Audio/Falas/Abrilhante/Abrilhante[[:space:]]EDIT[[:space:]]Cortado_mixagem.wav filter=lfs diff=lfs merge=lfs -text
/Assets/VideosLibras/vídeo[[:space:]]libras[[:space:]]-[[:space:]]áudio[[:space:]]1[[:space:]](peça[[:space:]]para[[:space:]]revista).mp4 filter=lfs diff=lfs merge=lfs -text
/Assets/VideosLibras/vídeo[[:space:]]libras[[:space:]]-[[:space:]]áudio[[:space:]]2[[:space:]](crochê).mp4 filter=lfs diff=lfs merge=lfs -text
/Assets/VideosLibras/vídeo[[:space:]]libras[[:space:]]-[[:space:]]áudio[[:space:]]3[[:space:]](ecopad).mp4 filter=lfs diff=lfs merge=lfs -text
/Assets/VideosLibras/vídeo[[:space:]]libras[[:space:]]-[[:space:]]áudio[[:space:]]4[[:space:]](ponte_favela).mp4 filter=lfs diff=lfs merge=lfs -text
